*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#fffcfc;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    width:700px;
    background:hsl(0, 41%, 58%);
    padding: 100px;
    border-radius:20px;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:25px;
}

.row{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

input,
select{
    width:100%;
    padding:15px;
    border:2px solid white;
    border-radius:25px;
    background:#222;
    color:white;
    outline:none;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:25px;
    background:#00bcd4;
    color:white;
    font-size:18px;
    cursor:pointer;
}